/* styles.module.css */

.header {
  display: flex;
  padding: 10px;
  font-weight: bold;
}

.listItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #c7c7c7;
  text-align: left;
  cursor: pointer;
}
[data-theme='dark'] .listItem {
  border-bottom: 1px solid #4a4a4a;
  color: white;
}
.listItem:hover {
  opacity: 0.8;
  background-color: #f2f2f2;
}

[data-theme='dark'] .listItem:hover {
  background-color: #232323;
}

.title {
  width: 20%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  width: 15%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.description {
  width: 40%;
}

.tags {
  width: 25%;
  display: flex;
}

@media screen and (max-width: 440px) {
  .description {
    display: none;
  }
  .tags {
    width: 45%;
  }
  .author {
    width: 20%;
    margin: 0px 10px;
  }
}

@media screen and (max-width: 786px) {
  .description {
    display: none;
  }
  .tags {
    width: 50%;
  }
  .author {
    width: 15%;
    margin: 0px 10px;
  }
}
